@media all and (min-width: 377px) and (max-width: 800px){
    .content-rest{
      flex: 1; 
      display: flex;
      flex-wrap: wrap;
    
  }
  .img-rest
   {   
    width: 100%;
    height: 200px;
    border-radius: 10% 10% 0% 0%;
    object-fit: cover;
      
   }
    .rst-ménil{
  
      position: relative;
      display: block;
      background-color:white ;
      width: 80%;
      border: solid 1px rgb(218, 217, 217);
      border-radius: 10%;
      box-shadow: 4px 4px 9px #d9d9d9;;
      margin: 10px;
      padding-bottom: 15px;
      margin-left: 10%;
      margin-right: 30px;
      font-family: "Roboto", serif;    
  }
   }
@media all and  (min-width: 800px){
    .content-rest{
        flex: 1; 
        display: flex;
        flex-wrap: wrap;
      
    }
    .img-rest
     {   
      width: 100%;
      height: 200px;
      border-radius: 10% 10% 0% 0%;
      object-fit: cover;
        
     }
      .rst-ménil{
    
        position: relative;
        display: block;
        background-color:white ;
        width: 37%;
        border: solid 1px rgb(218, 217, 217);
        border-radius: 10%;
        box-shadow: 4px 4px 9px #d9d9d9;;
        margin: 10px;
        padding-bottom: 15px;
        margin-left: 6%;
        margin-right: 6%;
        font-family: "Roboto", serif;    
    }
    .fonct{
        display: flex;
        flex-wrap: wrap;
        
        
    }  
 .fonct .fonct-btn1
 {  
   display: block;
   width: 450px;
   height: 35px;
   margin-left: 20%;
   background-color: rgb(240, 240, 240);
   
 }
 .fonct .fonct-btn2
 {
   display: block;
   width:450px;
   height: 35px;
   margin-left: 30%;
   background-color: rgb(240, 240, 240);
 }
 .fonct .fonct-btn3
 {
    display: block;
    width: 450px;
   height: 35px;
   margin-left: 40%; 
   background-color: rgb(240, 240, 240);
 }
 }