@media all and (min-width: 400px) and (max-width: 800px){ 

.cont-menu1
{
 
 position: relative;
 top: 280px;
 justify-content: space-between;
 
 background-color: rgb(247, 247, 247);
 border-radius: 30px 30px 0px 0px;
}
.cont-menu1 h1 
{
 font-family: "Shrikhand", serif;
 font-weight: normal;
 margin-left: 20%;
}

 /**partie des couers**/

.carte-coeur{
 border: none;
 background-color: rgb(247, 247, 247);
}
.carte-coeur2{
border: none;
background-color:rgb(247, 247, 247) ;
}
.heart
{
 border: none;
 text-decoration: none;
 font-size: 1.7rem;
 cursor: pointer;
 background-color:#eeeeee ;
 margin-top: 20px;
 position: absolute;
 left: 80%;      
}
.heart2 {
 border: none;
 font-size: 1.7rem;
 color :rgb(196, 84, 196);
 cursor: pointer;
 margin-top: 20px;
 position: absolute;
 left: 80%; 
}
.carte-coeur :hover{
 animation: coeur 1s forwards ease-in-out;  
}
@keyframes coeur{
  0%{
    opacity: 1;
  } 
  100%{
    color: #FF79DA;
    opacity: 0;
    height: 0%;
  }
}

/** entrées plas désserts **/

.mini-cont1
{
  
  width: 100%;
  padding: 30px;
  margin-top: 0px;
  font-family: "Roboto", serif;
  animation: slidedown 2s;
    
}
.mini-cont2
{
  
  width: 100%;
  padding: 30px;
  margin-top: 0px;
  font-family: "Roboto", serif;
  animation:slidedown 6s ;
    
}
.mini-cont3
{
  
  width: 100%;
  padding: 30px;
  margin-top: 0px;
  font-family: "Roboto", serif;
  animation:slidedown 8s ;
    
}
@keyframes slidedown 
{
  0%{
    opacity: 0; 
  }
  50%{
    opacity: 0.8;
  }
  100%{
    opacity: 1;
  }
}
h2 
{
  font-weight: normal;
  border-bottom : 3px solid #99E2D0;
  width: 40px;
}
.cont-entrées
{
  width: 90%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 4px 4px 9px #d9d9d9;
  position: relative;       
}
.main 
{ 
  display: flex;
  border:none;
  width: 90%;
  background-color:white;
  border-radius: 20px ;
  box-shadow: 4px 4px 9px #d9d9d9;
  margin-bottom: 15px;
  margin-left: 30px;
}
.title 
{ width: 90%;
  background-color: white;
  border-radius: 10px;
}
.description 
{ 
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: small;
  margin-bottom: 10px;
  margin-left: 5px;
}
.price 
{
  background-color:white; 
  width: 50px;
  border-radius: 0px 10px 10px 0px;
  height: 25px;
  margin-top:  55PX; 
  font-size: 15px;
  font-weight: bold;
  
}
.check 
{
  width: 0px; 
  background-color: lightcyan; 
  display: none;
  border-radius: 0px 10px 10px 0px;
  box-shadow: 4px 4px 9px #d9d9d9;
  font-size: 20px;
  position: relative;
  
}
@keyframes rotating {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(-360deg);
  }

}
.check i{
  font-size: 28px ;
  padding-top: 5PX ;
  animation: rotating 1.5s ;
  position: absolute;
  top: 25px;
  right: 20px;
}
.main:hover > .title 
{ 
  width: 80% ; 
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden
}
.main:hover > .check 
{ 
  display:block;
  width: 70px; 
  background-color:#99E2D0; 
  color: white; 
  text-align: center; }

h3{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden ;
  margin-left: 5px; 
}
.cont-entrées p 
{
  padding: 10px;
  font-size: 0.8rem;
}
.commander
{
  background: linear-gradient(#FF79DA,#9356DC );
  text-align: center;
  font-size: 18px ;    
  color: white;
  height: 50px;
  width: 200px;
  margin: 20PX;
  margin-left: 35%;
  border: none;
  border-radius: 20px;
  box-shadow: 4px 4px 9px #bebebe;
  cursor: pointer;
  opacity: 1;
}
.commander:hover
{
  opacity: 0.6;
  transform: scale(1.05);
  transition: 0.5S ;
  box-shadow: 4px 4px 9px rgb(46, 46, 46);
}

}
 
@media all and  (min-width: 800px){
    .cont-menu1
{
 
 position: relative;
 top: 280px;
 justify-content: space-between;
 
 background-color: rgb(247, 247, 247);
 border-radius: 30px 30px 0px 0px;
}
.cont-menu1 h1 
{
 font-family: "Shrikhand", serif;
 font-weight: normal;
 margin-left: 20%;
}

 /**partie des couers**/

.carte-coeur{
 border: none;
 background-color: rgb(247, 247, 247);
}
.carte-coeur2{
border: none;
background-color:rgb(247, 247, 247) ;
}
.heart
{
 border: none;
 text-decoration: none;
 font-size: 1.7rem;
 cursor: pointer;
 background-color:#f7f7f7 ;
 margin-top: 20px;
 position: absolute;
 left: 80%;      
}
.heart2 {
 border: none;
 font-size: 1.7rem;
 color :rgb(196, 84, 196);
 cursor: pointer;
 margin-top: 20px;
 position: absolute;
 left: 80%;
 background-color: #f7f7f7; 
}
.carte-coeur :hover{
 animation: coeur 1s forwards ease-in-out;  
}
@keyframes coeur{
  0%{
    opacity: 1;
  } 
  100%{
    color: #FF79DA;
    opacity: 0;
    height: 0%;
  }
}

/** entrées plas désserts **/

.mini-cont1
{
  
  width: 100%;
  padding: 30px;
  margin-top: 0px;
  font-family: "Roboto", serif;
  animation: slidedown 2s;
    
}
.mini-cont2
{
  
  width: 100%;
  padding: 30px;
  margin-top: 0px;
  font-family: "Roboto", serif;
  animation:slidedown 6s ;
    
}
.mini-cont3
{
  
  width: 100%;
  padding: 30px;
  margin-top: 0px;
  font-family: "Roboto", serif;
  animation:slidedown 8s ;
    
}
@keyframes slidedown 
{
  0%{
    opacity: 0; 
  }
  50%{
    opacity: 0.8;
  }
  100%{
    opacity: 1;
  }
}
h2 
{
  font-weight: normal;
  border-bottom : 3px solid #99E2D0;
  width: 40px;
}
.cont-entrées
{
  width: 90%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 4px 4px 9px #d9d9d9;
  position: relative;       
}
.main 
{ 
  display: flex;
  border:none;
  width: 70%;
  background-color:white;
  border-radius: 10px 0px 0px 10px;
  box-shadow: 4px 4px 9px #d9d9d9;
  margin-bottom: 15px;
  margin-left: 15%;
}
.title 
{ width: 90%;
  background-color: white;
  border-radius: 10px;
}
.description 
{ 
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: small;
  margin-bottom: 10px;
  margin-left: 5px;
}
.price 
{
  background-color:white; 
  width: 50px;
  border-radius: 0px 10px 10px 0px;
  height: 25px;
  margin-top:  55PX; 
  font-size: 15px;
  font-weight: bold;
  
}
.check 
{
  width: 0px; 
  background-color: lightcyan; 
  display: none;
  border-radius: 10px;
  box-shadow: 4px 4px 9px #d9d9d9;
  font-size: 20px;
  position: relative;
  
}
@keyframes rotating {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(-360deg);
  }

}
.check i{
  font-size: 28px ;
  padding-top: 5PX ;
  animation: rotating 1.5s ;
  position: absolute;
  top: 25px;
  right: 20px;
}
.main:hover > .title 
{ 
  width: 100% ; 
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden
}
.main:hover > .check 
{ 
  display:block;
  width: 70px; 
  background-color:#99E2D0; 
  color: white; 
  text-align: center; }

h3{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden ;
  margin-left: 5px; 
}
.cont-entrées p 
{
  padding: 10px;
  font-size: 0.8rem;
}
.commander
{
  background: linear-gradient(#FF79DA,#9356DC );
  text-align: center;
  font-size: 18px ;    
  color: white;
  height: 50px;
  width: 200px;
  margin: 20PX;
  margin-left: 40%;
  border: none;
  border-radius: 20px;
  box-shadow: 4px 4px 9px #bebebe;
  cursor: pointer;
  opacity: 1;
}
.commander:hover
{
  opacity: 0.6;
  transform: scale(1.05);
  transition: 0.5S ;
  box-shadow: 4px 4px 9px rgb(46, 46, 46);
}
}

