@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
 

 body{
  margin: 0px;
 }

.loader-bg{
  position: fixed;
  z-index: 2;
  background: linear-gradient( #FF79DA,#9356DC );
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  animation: loader-bg 8s forwards ease-in-out ;
 
}
.loader-bg p {
  font-family:"Shrikhand", serif ;
  font-size: 2rem;
  color: white;
  border: 0 solid transparent;
  border-radius:  50%;
  width: 300px;
  height: 250px;
  position: absolute;
  top: 70%;
  left: 45%;

}

@keyframes loader-bg{
  0%{
    opacity: 1;

  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    height: 0%; 
  }
  
}
.loader{
  border: 0 solid transparent;
  border-radius:  50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 40%;
  left: 45%;

}
.loader:before, .loader:after{
  content: "";
  border: 1em solid rgb(249, 250, 250);
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 1s linear infinite;
  opacity: 0;

}
.loader:before{
  animation-delay: 2s;
}
@keyframes loader{
  0%{
    transform: scale(0);
     opacity: 0;
  }
  50%{
    opacity: 1;

  }
  75%{
    opacity: 0%;
  }
  100%{
    transform: scale(1);
    opacity: 0;
  }
}

.HeaderTitle { 
  text-align: center;
  font-family: "Shrikhand", serif;
  font-size: 3rem;
  margin: 0px;
}

/* partie recherche */
.search {
  background-color: #d9d9d9;
  text-align: center;
  border-top: solid 3px #bfbfbf;
  padding: 10px 0;
  margin: 0 auto;
  width: 100%;
  height: 20px;
  }
  .search .search-input {
  border: none;
  background-color: #d9d9d9;
  width: 130px;
  height: auto;
  margin: 0 auto;
  font-family: "Roboto", serif;
  font-size: 1rem;
  text-align: center;
 }
 .fonct-title{
  font-family: "Roboto", serif;
 }

/* partie reservation */

.content-to-title{
  font-family: "Roboto", serif;
}
.reservation{
  background-color: rgb(240, 240, 240);
  text-align: center;
    
}
.reservation h2{
  font-size: 35px;
  margin: 0px;
  font-family: "Roboto", serif; 
}
.reservation p{
  font-size: 20px;
  color: gray;
}
.linear-gradient{
  background: linear-gradient( #FF79DA,#9356DC  )
}

.reservation button{

  color: white;
  font-weight:bold ;
  height: 50px;
  width: 300px;
  margin: 20PX;
  border-radius: 20px;
  border: none;
  box-shadow:4px 4px 9px #bebebe ;
  cursor: pointer;

}
.reservation button:hover{
  opacity: 0.8;
  transform: scale(1.03);
  transition: 0.5S ;
  box-shadow:4px 4px 9px #6e6e6e ;
}


/* partie fonctionement */
.content
{
  width: 100%;
}
.fonct-title{
  padding: 10px;
}
.fonct .fonct-btn1
{
  animation: slidedown 2s ;
}
@keyframes slidedown 
{
  from{
    opacity: 0; 
  }
  to{
    opacity: 1;
  }
}

.content .fonct-btn1 {
  border: solid 1px #e4e3e3;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 20px 10px;
  font-family: "Roboto", serif;
  font-weight: bold;
  font-size: 1rem;
  position: relative;
  -webkit-box-shadow: 4px 4px 9px #d9d9d9;
  box-shadow: 4px 4px 9px #d9d9d9;
  height: 25px;
  background-color: rgb(240, 240, 240);
  }
.content .fonct-btn1:hover {
  background-color:#ffe9f9 ;
  -webkit-box-shadow: 4px 4px 4px #d9d9d9;
  box-shadow: 4px 4px 4px #d9d9d9;
    
}

.fonct .fonct-btn2
{
  animation: slidedown 5s ;
}
@keyframes slidedown 
{
  from{
    opacity: 0; 
  }
  to{
    opacity: 1;
  }
}
  
.content .fonct-btn2 {
  border: solid 1px #e4e3e3;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 20px 10px;
  font-family: "Roboto", serif;
  font-weight: bold;
  font-size: 1rem;
  position: relative;
  -webkit-box-shadow: 4px 4px 9px #d9d9d9;
  box-shadow: 4px 4px 9px #d9d9d9;
  height: 25px;
  background-color: rgb(240, 240, 240);
}
.content .fonct-btn2:hover {
  background-color: #ffe9f9;
  -webkit-box-shadow: 4px 4px 4px #d9d9d9;
  box-shadow: 4px 4px 4px #d9d9d9;
}

.fonct .fonct-btn3
{
  animation: slidedown 10s ;
}
@keyframes slidedown 
{
  from{
    opacity: 0; 
  }
  to{
    opacity: 1;
  }
}
.content .fonct-btn3 {
  border: solid 1px #e4e3e3;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 20px 10px;
  font-family: "Roboto", serif;
  font-weight: bold;
  font-size: 1rem;
  position: relative;
  -webkit-box-shadow: 4px 4px 9px #d9d9d9;
  box-shadow: 4px 4px 9px #d9d9d9;
  height: 25px;
  background-color: rgb(240, 240, 240);
}
.content .fonct-btn3:hover {
 background-color: #ffe9f9;
 -webkit-box-shadow: 4px 4px 4px #d9d9d9;
 box-shadow: 4px 4px 4px #d9d9d9;
}

.content .icon {
  background-color: #9356DC;
  border-radius: 50%;
  width: 20px;
  line-height: 20px;
  position: absolute;
  left: -5px;
  top: 10px;
  text-align: center;
  color: white;
  font-size: 0.6rem;
  margin-right: 10px;
 }
 .content .icons
 {
  padding-right: 50px;
 }
.content-rest{
  flex: 1; 
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
}
.content-to{
  padding: 10px;
  margin-top: 30px;
  background-color: rgb(240, 240, 240);
}
  


.carte-title
{
  display: block;
  position: relative;
  padding-left: 10px;
}
.carte-coeur{
  display: flex;
  position: absolute;
  top: 15rem;
  right: 4rem ;
}
.carte-coeur2{
  display: flex;
  position: absolute;
  top: 15rem;
  right: 4rem ;
}
.nou{
  position: absolute;
  background-color: #99E2D0;
  width: 5.5rem;
  height: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0.2rem;
  color: #278870;
  top: 1rem;
  right: 3rem ;
}
.rst-ménil{

 position: relative;
 display: block;
 background-color:white ;
 width: 300px;
 border: solid 1px rgb(218, 217, 217);
 border-radius: 10%;
 box-shadow: 4px 4px 9px #d9d9d9;
 margin-top: 10px;
 margin-bottom: 15px;
 margin-left: 8%;
 font-family: "Roboto", serif;    
}
a{
 color: black;
 text-decoration: none;
}
 .img-rest
 {   
  width: 300px;
  height: 200px;
  border-radius: 10% 10% 0% 0%;
    
 } 
 .carte-coeur{
  border: none;
 }
 .carte-coeur2{
  border: none;
 }
 .heart
 {
  border: none;
  text-decoration: none;
  margin-left : 80%;
  font-size: 1.7rem;
  cursor: pointer;
  background-color:white ;
  position: relative;
  color: gray;   
 }
 .heart2 {
  border: none;
  margin-left : 80%;
  font-size: 1.7rem;
  color :rgb(196, 84, 196);
  cursor: pointer;
  background-color: white; 
 }
 
 .carte-coeur :hover{
  animation: coeur 1s forwards ease-in-out;  
 }

 @keyframes coeur{
   0%{
     opacity: 1;
   } 
   100%{
     opacity: 0;
     height: 0%;
   }
 }

 /* partie footer du site */

 footer {
  background-coloR: #333333;
  color: white;
  padding-bottom: 20px;
}
footer .footer-logo {
  font-family: "Shrikhand", serif;
  font-size: 1.3rem;
  padding: 20px 10px 10px 10px;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 0px;
  color: white;
  border: none;
}
footer .footer-link {
  font-family: "Roboto", serif;
  font-size: 1rem;
  margin-left: 10px;
  cursor: pointer;
  color: white;
}
footer .footer-menu {
  text-align: left;
}
footer .fas.fa-utensils {
  padding-right: 17px;
}
footer .fas.fa-hands-helping {
  padding-right: 10px;
}
footer .footer-a {
  text-decoration: none;
  color: white;
}


